.cont {
    display: flex;
    overflow: hidden;
}
.cont .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 14%;
    align-items: flex-end;
    padding: 0 50px 20px 91px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-right: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
}
.cont .left p {
    width: 100%;
    max-width: 120px;
}
.cont .right {
    width: 100%;
    padding: 0 20px;
}
.cont .right p {
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.cont .right tbody:nth-child(even) {
    background: #9b979721;
}
.cont .right tbody tr td:nth-child(4) {
    color: #005f00;
    font-weight: bold;
}

.cont .right tbody tr td:nth-child(5) span {
    padding: 4px;
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 5px;
    width: 48px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
